body {
  margin: 0;
  font-family: "微软雅黑";
  min-width: 1275px;
}
input {
  font-family: "微软雅黑";
}
figure {
  margin: 0;
}
hr {
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.button {
  cursor: pointer;
}
header {
  width: 100%;
  height: 60px;
  overflow: auto;
}
header .logo {
  float: left;
  margin-left: 50px;
  font-family: "黑体";
  font-size: 21px;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
}
header img {
  margin-top: -6px;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
}
header nav {
  float: right;
}
header nav ul {
  overflow: auto;
}
header nav li {
  display: inline-block;
  height: 60px;
  float: left;
  color: #7f7e7e;
  box-sizing: border-box;
}
header nav li:hover {
  color: #e74f4d;
  border-bottom: 3px solid #e74f4d;
}
header nav li a {
  display: block;
  height: 60px;
  padding: 0 20px;
  font-size: 14px;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
}
header nav li a img {
  margin-right: 4px;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
}
#show .main {
  height: 690px;
  color: #fff;
  background: url("image/show-bg.png");
  background-size: cover;
  position: relative;
}
#show .main .mask {
  width: 100%;
  height: 100%;
  padding-top: 240px;
  box-sizing: border-box;
  background: rgba(3,0,0,0.2);
}
#show .main h1 {
  margin: 0 0 40px 100px;
  font-size: 60px;
  line-height: 60px;
}
#show .main p {
  font-size: 21px;
  margin: 40px 0 80px 110px;
}
#show .main a {
  display: block;
  margin-left: 110px;
  width: 320px;
  height: 70px;
  background: #e74f4d;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
}
#show .list {
  width: 100%;
  height: 210px;
  overflow: auto;
}
#show .list li {
  display: inline-block;
  float: left;
  width: 25%;
  height: 210px;
  text-align: center;
  position: relative;
}
#show .list li:before {
  width: 2px;
  height: 50px;
  content: "";
  background: #aba6a5;
  position: absolute;
  left: -1px;
  top: 125px;
}
#show .list li:first-child:before {
  display: none;
}
#show .list li img {
  margin: 40px 0;
}
#show .list li div {
  margin: 0 20px;
  font-size: 14px;
  font-family: "黑体";
  color: #7f7e7e;
}
#activity .title {
  height: 360px;
  padding-top: 90px;
  box-sizing: border-box;
  background: #ededec;
  text-align: center;
}
#activity .title h1 {
  margin: 36px 0;
  font-family: "黑体";
  font-size: 54px;
  color: rgba(33,33,33,0.5);
}
#activity .middle {
  width: 100%;
  height: 341px;
  background: url("image/activity-bg.png");
  background-size: cover;
}
#activity .middle .mask {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(170,52,51,0.2);
  text-align: center;
  color: #fff;
  padding-top: 40px;
}
#activity .middle h3 {
  font-size: 21px;
  margin-bottom: 10px;
}
#activity .middle hr {
  width: 28px;
  height: 2px;
  background: #fff;
  margin-bottom: 20px;
}
#activity .middle p {
  font-size: 12px;
}
#activity .middle form {
  width: 100%;
}
#activity .middle form .select {
  display: inline-block;
  position: relative;
}
#activity .middle form input {
  width: 236px;
  height: 36px;
  border: none;
  margin: 40px 15px;
}
#activity .middle form .text-box {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 12px;
  background: #fff url("image/red-arrow.png") no-repeat;
  background-position: 208px center;
}
#activity .middle form .text-box:focus {
  outline: none;
  border: 1px solid #be4e48;
}
#activity .middle form .text-box:focus+ul {
  visibility: visible;
}
#activity .middle form .button {
  background: #be4e48;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
#activity .middle form ul {
  background: #e3e3e4;
  border: 1px solid #be4e48;
  width: 236px;
  box-sizing: border-box;
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 76px;
}
#activity .middle form ul li {
  list-style: none;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  color: #aba5a4;
  padding-left: 36px;
  font-size: 12px;
  text-align: left;
  line-height: 30px;
  vertical-align: middle;
}
#activity .middle form ul li:hover {
  color: #fff;
  background: #be4e48 url("image/check.png") no-repeat;
  background-position: 10px center;
}
#activity .bottom {
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  background: #f7f7f7;
}
#activity .bottom figure {
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 30px;
}
#activity .bottom figure:nth-child(2) {
  flex-direction: column-reverse;
}
#activity .bottom figure:nth-child(2) figcaption div:first-child {
  font-size: 24px;
  margin: 0;
}
#activity .bottom figure img {
  padding: 10px 6px;
  border: 1px solid #e1dedc;
  background: #fff;
}
#activity .bottom figure figcaption {
  text-align: center;
}
#activity .bottom figure figcaption div:first-child {
  font-family: "黑体";
  font-size: 14px;
  margin: 14px 0;
}
#activity .bottom figure figcaption div:last-child {
  font-size: 12px;
  color: #7f7773;
}
#about .top {
  width: 100%;
  height: 567px;
  display: flex;
}
#about .top .title {
  flex: 2 0 850px;
  background: url("image/about-title.png") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 120px;
  color: #fff;
  text-align: center;
}
#about .top .title h2 {
  font-size: 50px;
  line-height: 100%;
}
#about .top .title h1 {
  font-size: 158px;
  line-height: 100%;
}
#about .top .title p {
  display: inline-block;
  font-size: 22px;
  text-align: left;
  line-height: 2em;
}
#about .top .right {
  flex: 1 0 425px;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about .top .right:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-top: 26.1px solid transparent;
  border-bottom: 26.1px solid transparent;
  border-right: 30px solid #fff;
}
#about .top .right h3 {
  font-size: 22px;
  font-family: "黑体";
}
#about .top .right h3 span {
  color: #e74f4d;
}
#about .top .right p {
  color: #c7c6c6;
  font-family: "宋体";
  font-size: 12px;
  display: inline-block;
  width: 300px;
  text-align: left;
  line-height: 2.5em;
}
#about .top .right .button {
  display: block;
  width: 100px;
  height: 30px;
  text-decoration: none;
  color: #e46868;
  border: 1px solid #e46868;
  box-shadow: 0 0 1px #e46868;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}
#about .top .right .button:hover {
  background: #e46868;
  color: #fff;
}
#about .top .right [class^="slide-"] {
  order: -1;
  width: 100%;
}
#about .top .right .row {
  width: 100%;
  margin-top: -50px;
}
#about .top .right input[type="radio"] {
  margin: -74px 10px 0 10px;
  width: 10px;
  height: 10px;
  position: relative;
  cursor: pointer;
}
#about .top .right input[type="radio"]:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #808080;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
#about .top .right input[type="radio"]:checked:after {
  background: #808080;
}
#about .top .right input[type="radio"]:checked~[class^="slide-"] {
  display: none;
  height: 100%;
}
#about .top .right input[type="radio"]:nth-of-type(1):checked~.slide-1 {
  display: block;
}
#about .top .right input[type="radio"]:nth-of-type(2):checked~.slide-2 {
  display: block;
}
#about .top .right input[type="radio"]:nth-of-type(3):checked~.slide-3 {
  display: block;
}
#about .bottom {
  width: 100%;
  height: 521px;
  display: flex;
}
#about .bottom .left,
#about .bottom .middle {
  text-align: center;
  box-sizing: border-box;
  padding-top: 160px;
  font-size: 21px;
  font-family: "黑体";
}
#about .bottom .left p,
#about .bottom .middle p {
  line-height: 1.5em;
}
#about .bottom .left hr,
#about .bottom .middle hr {
  width: 20px;
  height: 2px;
}
#about .bottom .left .button,
#about .bottom .middle .button {
  text-decoration: none;
  display: block;
  margin: 26px auto;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
}
#about .bottom .left {
  flex: 1 0 425px;
  background: #e74f4d;
  color: #fff;
}
#about .bottom .left hr {
  background: #fff;
}
#about .bottom .left .button {
  border: 1px solid #fff;
  color: #fff;
}
#about .bottom .left .button:hover {
  background: #fff;
  color: #e74f4d;
}
#about .bottom .middle {
  flex: 1 0 425px;
  position: relative;
}
#about .bottom .middle:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-top: 26.1px solid transparent;
  border-bottom: 26.1px solid transparent;
  border-left: 30px solid #fff;
}
#about .bottom .middle hr {
  background: #e74f4d;
}
#about .bottom .middle .button {
  color: #e74f4d;
  border: 1px solid #e74f4d;
}
#about .bottom .middle .button:hover {
  background: #e74f4d;
  color: #fff;
}
#about .bottom .right {
  flex: 1 0 425px;
  background: url("image/about-pic-2.png") no-repeat;
  background-size: cover;
}
#about .bottom .right .mask {
  width: 100%;
  height: 521px;
  background: rgba(0,0,0,0.3);
}
#volunteer {
  width: 100%;
  height: 800px;
  text-align: center;
}
#volunteer .title {
  width: 100%;
  height: 240px;
  box-sizing: border-box;
  padding: 120px;
}
#volunteer .title h3 {
  font-family: "黑体";
  font-size: 21px;
}
#volunteer .title hr {
  width: 36px;
  height: 2px;
  background: #e74f4d;
}
#volunteer .title p {
  font-size: 12px;
  color: #b6b5b5;
  line-height: 1.5em;
}
#volunteer .form {
  width: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
#volunteer .form .agreement {
  width: 300px;
  height: 320px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#volunteer .form .agreement .article {
  overflow: auto;
}
#volunteer .form .agreement h4 {
  font-size: 14px;
  font-family: "黑体";
}
#volunteer .form .agreement p,
#volunteer .form .agreement .more {
  font-size: 12px;
  font-family: "宋体";
  color: #b6b5b5;
}
#volunteer .form .agreement p {
  margin-top: 2em;
}
#volunteer .form .agreement .more {
  float: right;
  cursor: pointer;
}
#volunteer .form .agreement .more:before {
  content: "∨";
  font-family: "微软雅黑";
  margin-right: 8px;
}
#volunteer .form form {
  width: 700px;
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
#volunteer .form form input,
#volunteer .form form textarea {
  font-family: "宋体";
  font-size: 12px;
  background: #ededee;
  border: none;
  box-sizing: border-box;
  padding-left: 16px;
}
#volunteer .form form input {
  height: 40px;
}
#volunteer .form form input[type="text"] {
  width: 340px;
}
#volunteer .form form textarea {
  width: 100%;
  padding-top: 12px;
  resize: none;
}
#volunteer .form form .button {
  width: 100%;
  font-family: "黑体";
  font-size: 14px;
}
footer {
  width: 100%;
  height: 400px;
  position: relative;
}
footer .top {
  background: #32353e;
  height: 350px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .top h3 {
  font-family: "黑体";
  font-size: 21px;
}
footer .top p {
  width: 470px;
  display: inline-block;
  font-family: "宋体";
  font-size: 12px;
  line-height: 1.5em;
}
footer .top form {
  width: 500px;
  display: flex;
  margin: 20px 0 30px;
}
footer .top form input {
  height: 40px;
}
footer .top form .text-box {
  width: 420px;
  background: #fff;
  font-size: 14px;
  color: #abaaaa;
  box-sizing: border-box;
  padding-left: 12px;
}
footer .top form .button {
  width: 80px;
  background: #686166;
  font-size: 14px;
  font-family: "黑体";
  border: none;
  box-sizing: border-box;
  color: #fff;
}
footer .top ul {
  display: flex;
}
footer .top ul li {
  list-style: none;
  margin: 0 18px;
}
footer .top ul li:hover {
  transform: scale(0.9);
}
footer .bottom {
  width: 100%;
  height: 50px;
  background: #2f3038;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  font-family: "宋体";
  line-height: 50px;
  box-sizing: border-box;
  padding: 0 100px;
}
footer .bottom .left {
  float: left;
}
footer .bottom .right {
  float: right;
}
