body {
  font-size: 16px;
  font-family: "Microsoft Yahei";
}
table {
  margin: 30px 20px;
}
table th {
  text-align: left;
  background: #000;
  color: #fff;
}
table tr:nth-child(1) {
  color: #f00;
}
table tr:nth-child(2) {
  color: #f00;
}
table tr:nth-child(3) {
  color: #f00;
}
table tr:nth-child(2n) {
  background: #cacaca;
}
table tr:nth-child(2n+1) {
  background: #fff;
}
form {
  width: 300px;
}
form input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 21px;
  box-sizing: border-box;
  transition: width 0.8s ease 0.1s;
}
form input[type="text"]:focus {
  width: 200px;
  border: none;
  box-shadow: #00f 0 0 6px;
}
.banner {
  margin: 30px;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
.banner dummy {
  visibility: hidden;
}
.banner a {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #fff;
  text-decoration: none;
  margin: 0 0 0 5px;
  background: rgba(255,255,255,0.3);
  z-index: 1;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}
.banner a:hover {
  background: rgba(255,255,255,0.5);
}
.banner .slider {
  width: 900px;
  height: 150px;
  transition: left 1s ease;
  position: absolute;
  top: 0;
  left: 0;
}
.banner .slide {
  width: 300px;
  height: 150px;
  float: left;
  color: #fff;
  font-size: 40px;
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
}
.banner .slide:nth-child(1) {
  background: #f00;
}
.banner .slide:nth-child(2) {
  background: #800080;
}
.banner .slide:nth-child(3) {
  background: #00f;
}
.banner #d1:target~.slider {
  left: 0px;
}
.banner #d2:target~.slider {
  left: -300px;
}
.banner #d3:target~.slider {
  left: -600px;
}
